<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Phishing Templates</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <link rel="stylesheet" type="text/css" href="/src/assets/index.css" />
    
</head>
<body>
    <div id="app">
        <div id="progress-tracker">
            <ul>
                <li class="active">Select Template</li> 
                <!-- <li>></li> -->
                <!-- <li :class="{ active: currentStep === 2 }" @click="goToStep(2)">Edit Template</li> <li>></li> -->
                <!-- <li :class="{ active: currentStep === 3 }" @click="goToStep(3)">Enter Details</li> -->
            </ul>
        </div>
        <div class="container">
            <h1>Select a Phishing Template</h1>
            <ul>
                <li v-for="(template, index) in templates" :key="index">
                    <button
                        :class="['button', selected_template === template ? 'buttonSelected' : 'buttonNonSelected']"
                        v-on:click="select_template(index)"
                    >
                        {{ template.name }}
                    </button>
                </li>
            </ul>
        </div>

        <div v-if="selected_template" class="preview-container">
            <div>
                <h2>Selected Template: {{ selected_template.name }}</h2>
                <img :src="selected_template.preview" alt="Template Preview" class="preview-image">
                <br>
                <button v-on:click="proceed_to_send">Use This Template</button>
            </div>
        </div>

    </div>

    <script type="module" src="template_selector.js"></script>
</body>
</html>
